body {
    background: #333;
}

nav {
    margin-left: 1rem;
    margin-bottom: 1rem;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            display: inline;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        &:hover, &:visited, &:focus {
            color: #ccc;
        }
    }
}

pre code {
    border-radius: 0.3em;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.hljs {
    display: inline-block;
}
